*{
    margin-left: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
}
body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:#f4eccd; 
}
.wrapper {
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    background-color: #c99575;
    align-items:center;
    justify-content: center;
    
}
.wrapper header {
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 25px 30px 10px;
    justify-content: space-evenly;
    
}
.item-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.left {
    width: 60%;
}
.right {
    width: 40%;
    background-color: #f4eccd;
    margin-bottom: 10px;
    border-radius: 10px;
}
.events {
 text-align: center;
 
}

header .current-date{
    font-size: 40px;
    font-weight: 500px;
}
header .icons span, header .p {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #f4eccd;
}
header .icons span {
    transform: scale(1.5);
}

header .icons span:hover {
    color: #926359;
    
}

.icons {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



.current-date {
    margin-left: 15px;
    margin-right: 15px;
}
.calendar {
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
}
.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendar .days {
    margin-bottom: 15px;
    
}
.calendar .days li {
    z-index: 1;
    cursor: pointer;
    margin-top: 50px;
}
.days li.inactive {
    color: rgba(249, 252, 255, 0.482);
}

.calendar .weeks li {
    font-weight: 500px;
}
.calendar ul li {
    color: #f4eccd;
    position: relative;
    width: calc(100% / 7);
}
.calendar .days li::before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #c99575;
}
.days li:hover::before {
    background-color: #926359;
    transition-duration: 0.5s;
}
.days li.active::before {
    background-color: #926359;
}

.tabBar ul {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.viewButton {
    font-family:'Quicksand', sans-serif;
    font-weight: bold;
    background-color: #926359;
    color: #f4eccd;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 7px;
    cursor: pointer;
  }