
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navButton {
  font-family:'Quicksand', sans-serif;
  font-weight: bold;
  background-color: #926359;
  color: #f4eccd;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 7px;
  cursor: pointer;
}

.container {
  background-color: #f4eccd;
}

.header {
  font-family:'Quicksand', sans-serif;
  font-weight: 700px;
  text-align: center;
  color:  #926359;
}

button:hover {
  color: #95817d;
  background-color: #f4eccd;
}
