html {
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
}

.header {
color: #926359;
font-family: 'Quicksand', sans-serif;
font-size: 60px;
font-weight: 50;
text-align: center;
}

body {
background-color:  #f4eccd;
}
/* Style for tab layout */
.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
  height: 100vh;
  grid-template-areas: "sideNav mainContent"; 
}

.sideNav {
  background-color: #f4eccd;
  padding: 20px;
  grid-area: sideNav; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-area: mainContent; 
}

.planner-content, .countdown-content {
  background-color: #c99575;
}

/* Style for tabBar */
.tabBar ul  {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: #926359;
  border-radius: 10px;
  padding: 10px;
}

.tabBar ul li.active {
  border-bottom: 4px solid #f4eccd; 
}
.tabBar ul li {
  color: #f4eccd;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 20px;
}
  
.tabBar ul li:hover {
  border-radius: 5px;
  transform: scale(1.10);
  transition-duration: 0.5s;
}

.tabBar ul li:hover ::after {
  text-decoration: underline;
}


/* Style for exam countdown tab */
.modalBox {
border-radius: 15px;
background-color: #c99575;
padding: 10px;
width: 400px;
margin-bottom: 100px;
padding-top: 20px;
}

.flex-input {
display: flex;
flex-direction: row;
margin-bottom: 10px;
}

#timerDisplay {
display: flex;
justify-content: center;
align-items: center;
background-color: #c99575;
}

.time {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 15px;
color: antiquewhite;
font-size: 20px;
}

.time span {
margin-top: 10px;
}

.navButton {
  font-family: 'Quicksand', sans-serif;
  background-color: #926359;
  color: #f4eccd;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  display: block;
  border-color: #f4eccd;
}

.navButton:hover {
  background-color: #c99575;
  transition-duration: 0.5s;
}



.navText[status="shown"] {
  font-size: 20px;
  text-align: center;
  align-self: center;
}

#menu-icon {
  color: #926359;
  margin-left: 20px;
  transform: scale(1.5);
  cursor: pointer;
}

#menu-icon:hover {
  color: #c99575;
}



#name, #countdownDate {
width: 200px;
padding: 10px;
font-family:'Quicksand', sans-serif;
font-size: 15px;
font-weight: 700;
border-radius: 5px;
background-color: antiquewhite;
color: #926359;
border: none;
}

::placeholder, #countdownDate::placeholder {
color: #926359;
}

#startBtn {
text-align: center;
background-color: #926359;
color: #f4eccd;
border-radius: 10px;
border: none;
margin-left: 160px;
padding: 10px;
padding-left: 20px;
padding-right: 20px;
font-size: 15px;

}


/* STYLE FOR PLANNER TAB*/
.recess-planner-title, .exam-overview-title {
  color:#926359;
  background-color: #f4eccd;
  border: 5px solid #c99575;
  padding: 8px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  text-align: center;
}

.customize-title {
  color: #f4eccd;
  margin-top: 0;
  margin-bottom: 0;
}

/* Style for task customizer */
.planner-content, .countdown-content {
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
}
.task-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.task-name, .task-in-schedule {
  display: inline-block;
  padding: 8px 12px;
  background-color: #926359;
  color: #f4eccd;
  border: 2px solid #f4eccd;
  border-radius: 5px;
  cursor: pointer;
}

.task-name.selected {
  color: #926359;
  background-color: #f4eccd;
} 

.task-in-schedule {
  margin-bottom: 10px;
  margin-top: 10px;
}

.task-name {
  margin-bottom: 20px;
}

.time-header {
  text-align: center;
}

/* Style for schedule table */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  
}

th, td {
  border: 1px solid #f4eccd;
  padding: 8px;
}

th {
  background-color: #926359;
  color:#f4eccd;
}

.add-row-button, .del-row-button, 
.add-task-button, .delete-task-button, 
.reset-schedule-button, .save-schedule-button, .get-schedule-button, .create-exam-button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  background-color: #926359;
  color:#f4eccd;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.reset-schedule-button, .save-schedule-button, .get-schedule-button {
  align-items: center;
  justify-content: center;
}
.add-row-button:hover, .del-row-button:hover, 
.add-task-button:hover, .delete-task-button:hover, 
.reset-schedule-button:hover, .save-schedule-button:hover, .get-schedule-button:hover,
.create-exam-button:hover {
  color: #926359;
  background-color:#f4eccd;
  transition-duration: 0.5s;
}

/* Style for task in schedule */
.schedule-body {
  color: #f4eccd;
  
}
.task-name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.deleteTaskInSchedule {
  display: none;
}

.task-in-schedule:hover .deleteTaskInSchedule {
  display: inline-block;
  color: #f4eccd;
  margin-left: 10px;
}

.deleteTaskInSchedule:hover {
  cursor: pointer;
}


