* {
  font-family: 'Quicksand', sans-serif;
}

.new-exam-title {
  color: #f4eccd;
  margin-left: 10px;
  font-size: 25px;
}

/* Style for exam modal box*/

.exam-modal, .edit-exam-modal {
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exam-modal-content, .edit-exam-modal-content {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: #926359;
  background-color: #f4eccd;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #c99575;
  border-radius: 5px;
  width: 80%; 
  height: fit-content;
  gap: 10px;
  position: relative;
}

.exam-modal, .edit-exam-modal {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #f4eccd;
  cursor: pointer;
}

.close-exam-modal,  .close-edit-exam-modal{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #c99575;
  cursor: pointer;
  margin-right: 10px;
  transform: scale(1.5);
}

.close-exam-modal:hover, .close-edit-exam-modal:hover {
  color: #926359;
  transition-duration: 0.5s;

}


.name-label, .date-label, .venue-label,
.edit-name-label, .edit-date-label, .edit-venue-label {
  font-size: 25px;
  margin-right: 10px;
  color: #926359;
  margin-top: 10px;
  margin-bottom: 10px;
}

.review-content-title, .edit-review-content-title {
  font-size: 25px;
  margin-right: 10px;
  color: #926359;
  margin-top: 10px;
  margin-bottom: 10px;
}


.examNameInput, .examDateInput, .examVenueInput, .content-input,
.edit-examNameInput, .edit-examDateInput, .edit-examVenueInput, .edit-content-input {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #c99575;
  width: 90%;
}

.examNameInput::placeholder, .examDateInput::placeholder, .examVenueInput::placeholder, .content-input::placeholder,
.edit-examNameInput::placeholder, .edit-examDateInput::placeholder, .edit-examVenueInput::placeholder, .edit-content-input::placeholder {
  font-size: 20px;

}

.review-content-container, .edit-review-content-container {
  margin-top: 0;
}

/* Style for exam container */
[class^="exam-container-"] {
  background-color: #f4eccd;
  color: #926359;
  width: fit-content;
  border-radius: 10px;
  border: 5px solid #926359;
  padding: 20px;
  height: fit-content;
}

.exam-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px; /* Adjust the value as needed */
  grid-row-gap: 50px;
}

[class^="material-symbols-outlined remove-exam-"] {
  float: right;
  color: #c99575;
  cursor: pointer;
}

[class^="material-symbols-outlined remove-exam-"]:hover {
  color: #926359;
}
.content-item {
  margin-bottom: 10px;
  align-items: center;
  width: fit-content;
}
.material-symbols-outlined.deleteContent {
  position: relative;
  float: right;
  margin-right: 0;
}

.review-content-list {
  margin-top: 0;
}

.add-content-button, .submit-exam-button,
.add-edit-content-button, .update-exam-button {
  padding: 10px;
  background-color: #926359;
  color:#f4eccd;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.submit-exam-button, .update-exam-button {
  margin-top: 20px;
  align-self: center;
  width: 30%;
}

.add-content-button:hover, .submit-exam-button:hover,
.add-edit-content-button:hover, .update-exam-button:hover {
  background-color: #c99575;
  transition-duration: 0.5s;
}

[class^="toggle-content-"] {
  padding: 7px;
  background-color: #c99579;
  color:#f4eccd;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 20px;
}
[class^="toggle-content-"]:hover {
  background-color: #926359;
  transition-duration: 0.5s;
}

.content-item span{
  margin-left: 10px;
}

.content-text {
  flex-grow: 1;
  margin-right: 8px;
}

/* Style for countdown */
.quick-countdown {
  margin-bottom: 20px;
  margin-left: 10px;
}

.quick-countdown-title {
  text-align: center;
  font-size: 30px;
  color: #926359;
}

.countdown-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.name-part {
  margin-bottom: 20px;
}

.timing-part {
  display: flex;
  justify-content: center;
  background-color: #926359;
  border: 5px solid #c99575;
  margin-right: 10px;
}

.countdown-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  color: #f4eccd;
  margin: 0 5px;
  margin-left: 10px;
  margin-right: 15px;
}
.countdown-item#countdown-event {
  color: #926359;
  margin-bottom: 10px;
}
.countdown-label {
  color:#926359;
  font-weight: 900;
  margin-bottom: 20px;
  margin-left: 10px;
}
.countdown-tag {
  color: #f4eccd;
}

.exam-title {
  text-align: center;
}

.exam-info {
  line-height: 1.5;
}

.customize-title {
  line-height: 2.5;
}

.material-symbols-outlined.editContent {
  cursor: pointer;
}
