.background {
  background-color: #f4eccd;
  flex-direction: column;
  justify-content: center;
}
.startButton {
  align-self: center;
  border-radius: 5px ;
  width: 80%;
}
nav {
    display: flex;
    text-align: right;
    background-color: #926359;
    width: 100%;
  }
  .navBar {
    list-style: none;
    margin-left: auto;
    padding: 2px;
   
  }
  .navBar li {
    display: inline-block;
    padding: 0px 20px;
  }
  .navBar li a {
    font-family:'Quicksand', sans-serif;
    color: #f4eccd;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  .navBar li a:hover {
    text-decoration: underline;
    transition-duration: 0.6s;
  }
  h1, p, button {
    font-family: 'Quicksand', sans-serif;font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #926359;
  }
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  h1 {
    margin-bottom: 20px;
  }
  p {
  font-size: 20px;
  }
  .startButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #926359;
    font-size: 20px;
    color: #f4eccd;
    border: none;
    cursor: pointer;
  }
  
  .startButton:hover {
    background-color: #c99575;
    transition-duration: 0.6s;
  }
  .content {
    
  }