* {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
}
h2 {
  text-align: center;
  color: #f4eccd;
  font-size: 40px;
}
body {
  padding: 10px;
  background-color: #f4eccd;
}
.grid-container {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto;
  height: 100vh;
}

.sideNav {
  background-color: #f4eccd;
  padding: 20px;
}

.main-content {
  background-color: #f4eccd;
  padding: 20px;
}
.navButton {
  font-family: 'Quicksand', sans-serif;
  background-color: #926359;
  color: #f4eccd;
  border-radius: 10px;
  padding: 5px;
  width: 160px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  display: block;
  border-color: #f4eccd;
}

.navButton:hover {
  background-color: #c99575;
  transition-duration: 0.5s;
}



.navText[status="shown"] {
  font-size: 20px;
  text-align: center;
  align-self: center;
}

#menu-icon {
  color: #926359;
  margin-left: 20px;
  transform: scale(1.5);
  cursor: pointer;
}

#menu-icon:hover {
  color: #c99575;
}

.profile-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input#name, input#email, input#password {
  width: 80%;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.profile-form label {
  display: block;
  margin-bottom: 10px;
  color: #f4eccd;
  font-size: 30px;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font: 'Quicksand', sans-serif;
}

.profile-form button {
  display: flex;
  background-color: #926359;
  color: #f4eccd;
  padding: 9px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  margin-top: 30px;
}

.profile-form button:hover {
  background-color: #f4eccd;
  color: #926359;
  transition-duration: 0.3s;
}

.delete-account {
  text-align: center;
  margin-top: 20px;

}

.delete-account button {
  background-color: #926359;
  color: #f4eccd;
  padding: 9px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  
}

.delete-account button:hover {
  background-color: #c99575;
  transition-duration: 0.3s;
}

.show-password-checkbox {
  display: none;
}

.show-password-checkbox + .show-password-label {
  color: #926359;
  position: relative;
  padding-left: 25px; 
  cursor: pointer;
}

.show-password-checkbox + .show-password-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #926359;
  background-color: #f4eccd;
}

.show-password-checkbox:checked + .show-password-label:before {
  background-color: #926359; 
  border-color: #926359; 
}

.show-password-checkbox:checked + .show-password-label:after {
  content: "\2713";
  position: absolute;
  left: 4px;
  top: 1px;
  font-size: 14px;
  color: #f4eccd; 
}

.show-password-checkbox:focus + .show-password-label:before {
  outline: 2px solid #926359;
}

.profileNameLabel, .profileEmailLabel, .profilePwdLabel {
  color: #f4eccd; 
}

.profile-form {
  border-radius: 15px;
  background-color: #c99575;
  padding: 30px;
  width: 800px;
}

input[type="email"], input[type="password"], input[type="text"] {
  width: 100px;
  padding: 10px;
  font-family:'Quicksand', sans-serif;
  font-size: 25px;
  font-weight: 700;
  border-radius: 5px;
  background-color: antiquewhite;
  color: #926359;
  border: none;
  margin-right: 40px;
  font-size: 25px;
}

label {
  flex-basis: 200px;
  margin-top: 10px;
  margin-left: 35px;
  font-size: 20px;
  font-weight: 600;
}

.flex-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

::placeholder {
  color: #926359;
}

.profileHeader {
  color: #f4eccd;
  font-weight: 700;
  font-size: 30px;
}

.show-password-label {
  color: #f4eccd;
  font-weight: 600;
  font-size: 20px;
}

button {
  margin-left: 30px;
}